src/main/resources/xml/cte/grupo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Luis Augusto, em 02/07/2025. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:include schemaLocation="./originais/DFeTiposBasicos_v1.00.xsd"/>

    <xs:element name="infCTe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="imp">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="IBSCBS" type="TTribCTe"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>